@use '../abstracts' as *;

/* Services Section */
#services {
  width: 100vw;
  background-color: $color-background;
  text-align: center;
  margin-top: -40px;
  overflow-x: hidden;
  margin-left: -15px;

  .ticker {
    width: 100vw;
    overflow: hidden;
    background: $color-white;
    padding: 25px 0;
  }

  .ticker-wrap {
    display: flex;
    white-space: nowrap;
  }

  .ticker-text {
    display: flex;
    gap: 60px;
    padding-right: 60px;

    span {
      font-size: 2.2rem;
      font-weight: 800;
      white-space: nowrap;
      letter-spacing: 1px;
    }

    .blue { color: $color-blue; }
    .pink { color: $color-pink; }
    .yellow { color: $color-yellow; }
    .orange { color: $color-orange; }
    .dark-blue { color: $color-heading; }
  }
}
