@use "../abstracts" as *;

/* SERVICES */
#services {
  width: 100vw;
  background-color: $color-background;
  text-align: center;
  overflow-x: hidden;
  margin-left: -15px;

  /* TICKER CONTAINER */
  .ticker {
    width: 100%;
    background: $color-white;
    padding: 25px 0;
    overflow: hidden;
  }

  /* TICKER TRACK */
  .ticker-wrap {
    display: flex;
    white-space: nowrap;
  }

  /* TICKER TEXT */
  .ticker-text {
    display: flex;
    gap: 60px;
    padding-right: 60px;

    /* ITEM */
    span {
      font-size: 2.2rem;
      font-weight: 800;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    /* COLOR VARIANTS */
    span.blue { color: $color-blue; }
    span.pink { color: $color-pink; }
    span.yellow { color: $color-yellow; }
    span.orange { color: $color-orange; }
    span.dark-blue { color: $color-heading; }
  }
}